.unsubscribe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e264d;
    padding: 20px;
    box-sizing: border-box;
}
  
.unsubscribe-content {
    display: flex;
    max-width: 960px;
    background: radial-gradient(#092456 10%, #000000, #000000);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
  
.check-icon {
    margin-right: 5px;
}

.unsubscribe-text {
    width: 480px;
    padding: 50px;
    color: #ffffff;
    box-sizing: border-box;
}
  
.unsubscribe-text h1 {
    align-items: center;
    margin-top: 70px;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
}
  
.unsubscribe-text p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
form label {
    font-weight: bold;
}
  
form input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
  
form button {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #165CDE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  

.error-message {
    color: #ff0000; /* Cor vermelha para a mensagem de erro */
    margin-top: 10px; /* Espaçamento acima da mensagem */
    font-weight: bold; /* Deixar o texto em negrito */
  }

button {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #165CDE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }